<div class="container p-4">
  <section class="pb-5">
    <h1>Find the facts about COVID-19</h1>
    <p>
      The latest case numbers, vaccination totals and statistics on coronavirus
      disease in NSW.
    </p>
    <div class="border-onpage p-4">
      <p class="font-weight-16">On this page</p>
      <p>
        <a (click)="scrollto('stats')" class="links_blue"
          >New cases of COVID-19 and current cases in hospital</a
        >
      </p>
      <p>
        <a (click)="scrollto('container_1')" class="links_blue"
          >Case and test totals to date
        </a>
      </p>
      <p>
        <a (click)="scrollto('container_2')" class="links_blue"
          >Vaccination totals to date
        </a>
      </p>
    </div>
  </section>

  <section class="pb-5">
    <h3>New cases of COVID-19 and current cases in hospital</h3>
    <div class="statistics mt-5">
      <div class="statistics_wrapper pl-2 pr-2" id="stats">
        <div class="statistics__item d-flex flex-column justify-content-center">
          <div class="statistics__item--count">{{ newCases }}</div>
          <h5 class="statistics__item--header">New cases acquired locally</h5>
        </div>

        <div class="statistics__item d-flex flex-column justify-content-center">
          <div class="statistics__item--count">{{ InterStateCases }}</div>
          <h5 class="statistics__item--header">
            New cases acquired interstate or overseas
          </h5>
        </div>

        <div class="statistics__item d-flex flex-column justify-content-center">
          <div class="statistics__item--count">{{ hospitalCases }}</div>
          <h5 class="statistics__item--header">Cases in hospital</h5>
        </div>

        <div class="statistics__item d-flex flex-column justify-content-center">
          <div class="statistics__item--count">{{ icuCases }}</div>
          <h5 class="statistics__item--header">Cases in ICU</h5>
        </div>

        <div class="statistics__item d-flex flex-column justify-content-center">
          <div class="statistics__item--count">{{ ventilatorCases }}</div>
          <h5 class="statistics__item--header">Cases on ventilators</h5>
        </div>
      </div>

      <div class="pt-5">
        <p>
          The number of new cases in the 24 hours up to 8pm 02 September, 2021
        </p>
        <p>
          Current cases in hospital, ICU and on ventilators at 7pm 02
          September,2021
        </p>
      </div>
    </div>
  </section>

  <section>
    <h3 class="mb-3">Number of new cases of COVID-19 by notification date</h3>
    <div class="card">
      <div class="card-body">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 400px; display: block"
        ></highcharts-chart>
      </div>
    </div>
  </section>

  <section>
    <div class="row pt-5">
      <div class="col-md-6" id="ageGroup">
        <app-caremonitor-age-group></app-caremonitor-age-group>
      </div>
      <div class="col-md-6" id="vaccineGroup">
        <app-cases-by-age-group></app-cases-by-age-group>
      </div>
    </div>
  </section>

  <div class="container-details pt-5" id="container_1">
    <h2>Case and test totals to date</h2>
    <div class="row pt-3 mt-5">
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body d-flex">
            <h5 class="card-title number text-center">{{ Test_24hrs }}</h5>
            <p class="card-text d-flex align-items-center">
              new tests<br />in the 24 hours leading up to 8pm 02 September
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body d-flex">
            <h5 class="card-title number text-center">{{ NewCases }}</h5>
            <p class="card-text d-flex align-items-center">
              New cases<br />in the 24 hours leading up to 8pm 02 September
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body d-flex">
            <h5 class="card-title number text-center">{{ Tested }}</h5>
            <p class="card-text d-flex align-items-center">total tests</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body d-flex">
            <h5 class="card-title number text-center">{{ LocalCases }}</h5>
            <p class="card-text d-flex align-items-center">active cases **</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body d-flex">
            <h5 class="card-title number text-center">{{ Deaths }}</h5>
            <p class="card-text d-flex align-items-center">lives lost</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body d-flex">
            <h5 class="card-title number text-center">{{ Cases }}</h5>
            <p class="card-text d-flex align-items-center">
              confirmed cases ***<br />including interstate residents in NSW
              health care facilities
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container2 pt-3" id="container_2">
    <h2>Vaccination totals to date</h2>
    <p class="mt-5">
      Vaccine doses administered by NSW Health notified in the past 24 hours,
      ending 2 September. Includes first and second doses. NSW Health’s
      vaccination clinics generally operate Monday to Friday. Therefore, there
      are a limited number of vaccines administered on weekend days and public
      holidays due to planned closures.
    </p>

    <div class="row mt-5">
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body">
            <h5 class="card-title number text-center">
              {{ nswHealthDosesDaily }}
            </h5>
            <p class="card-text">
              Doses administered by NSW Health in the past 24 hours, ending 2
              September
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body">
            <h5 class="card-title number text-center">
              {{ nswHealthDosesCumulative }}
            </h5>
            <p class="card-text">
              Total doses administered by NSW Health since 22 February
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body">
            <h5 class="card-title number text-center">
              {{ gpNetworkDosesCumulative }}
            </h5>
            <p class="card-text">
              Doses administered by the GP network and other providers since 22
              February
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-color">
          <div class="card-body">
            <h5 class="card-title text-center number">
              {{ allProvidersDosesCumulative }}
            </h5>
            <p class="card-text">
              Total doses administered in NSW since 22 February
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
